body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

header a.back-button {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header a.back-button:hover {
    background-color: #f0f0f0;
}

main {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.info-container {
    text-align: center;
    margin-bottom: 20px;
}

.ttm-table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px auto;
    border-collapse: collapse;
    text-align: left;
}

.ttm-table th,
.ttm-table td {
    border: 1px solid #666; /* Darker border color */
    padding: 8px;
}

.ttm-table th {
    background-color: #a5a5a5;
    color: #333;
    font-weight: bold;
}

.row-1 {
    background-color: #ededed; /* Red background */
}

.row-2 {
    background-color: #ededed; /* Yellow background */
}

.row-3 {
    background-color: #ffffff; /* Green background */
}

.row-4 {
    background-color: #ffffff; /* Blue background */
}

.recommendation {
    font-size: 1em;
    color: #666;
    margin: 20px 0;
    text-align: center;
    font-weight: bold; /* Optional, to highlight the recommendation */
}

.info-container p.explanation {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
    max-width: 600px;
    margin: 40px auto 20px auto; /* Add margin-top: 40px to move it lower */
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add margin-top: 20px to move the button lower */
}

button.continue-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto 20px auto;
}

button.continue-button:hover {
    background-color: #218838;
}
